:root {
  --master-font: "VT323", monospace;
  --highlight-color: #ff9500;
  --highlight-alt-color: #ec6302;
  --primary-color: #0f0c0a;
  --secondary-color: #33251c;
  --tertiary-color: #f4ede8;
}

.App {
  font-family: var(--master-font);
}

.test-header {
  color: orange;
}

.test-image {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.coded-by,
.clickthru-links {
  color: var(--highlight-alt-color);
}

.coded-by {
  font-size: 14px;
  font-weight: lighter;
}

.coded-by .clickthru-links {
  font-weight: bold;
  text-decoration: none;
}

.coded-by .clickthru-links:hover {
  color: var(--highlight-color);
}
