:root {
  --master-font: "VT323", monospace;
  --primary-color: #1ab2a8;
  --secondary-color: #ffffff;
}

body {
  font-family: var(--master-font);
}

.App {
  background-image: url("screen-glitch.jpg");
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.background {
  height: 1105px;
  width: 850px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
}

.App {
  font-family: var(--master-font);
}

.main-app {
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%, -28%);
  width: 490px;
  height: 370px;
  color: #1ab2a8;
}

.coded-by,
.clickthru-links {
  color: var(--secondary-color);
}

.coded-by {
  position: absolute;
  left: 50%;
  bottom: 24%;
  transform: translate(-50%, -24%);
  font-size: 14px;
  font-weight: lighter;
}

.coded-by .clickthru-links {
  font-weight: bold;
  text-decoration: none;
}

.coded-by .clickthru-links:hover {
  color: var(--primary-color);
}
