:root {
  --master-font: "VT323", monospace;
  --primary-color: #1ab2a8;
  --secondary-color: #ffffff;
}

.App {
  background-image: url("./old-imac.jpg");
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: var(--master-font);
}

.container {
  position: fixed;
  top: 110px;
  left: 160px;
  width: 500px;
  height: 370px;
  overflow-y: scroll;
  color: #1ab2a8;
}

.coded-by,
.clickthru-links {
  color: #312c19;
}

.coded-by {
  position: fixed;
  bottom: 330px;
  left: 175px;
  font-size: 14px;
  font-weight: lighter;
}

.coded-by .clickthru-links {
  font-weight: bold;
  text-decoration: none;
}

.coded-by .clickthru-links:hover {
  color: #02406c;
}
