.search-button {
  color: #000;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.filter-background,
.photo-filter {
  opacity: 0.85;
  border-radius: 5px;
}

.filter-background {
  display: inline-block;
  background: var(--primary-color);
}

.photo-filter {
  filter: grayscale(100%);
}

#input-bar {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: var(--primary-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 15px;
  width: 400px;
}
