.search-button {
  color: #000;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#input-bar {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-color: var(--primary-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 15px;
  width: 400px;
}
